{% extends 'base.html' %}


<style>
    /* DEMO-SPECIFIC STYLES */
    .typewriter h1 {
        color: black;
        text-align: center;
        font-family: monospace;
        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: black
        }
    }

    @media screen and (min-width: 1100px) {
        .typewriter h1 {
            font-size: 20px;
        }

        body {
            size: 20px;
        }
    }

    @media screen and (max-width: 1100px) {
        .typewriter h1 {
            font-size: 10px;
        }

        body {
            size: 10px;
        }
    }

    @keyframes zoom-in {
        from {
            width: 0;
            height: 0;
        }

        to {
            width: 100%;
            height: auto;
        }
    }

    #img {
        padding: 30px;
        animation: zoom-in 3s;
    }

    #info {
        padding-top: 30px;
        padding-right: 350px;
        padding-left: 350px;
        padding-bottom: 20px;
    }
</style>



{% block content %}
<h1 class="text-center">{{title}}</h1>

<form class="container mt-5" action='/caption/result' method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="input-image">Image:</label>
        <input class="form-control" type="file" name="imagefile" id="input-image" required>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="minLength" class="form-label">Min Length</label>
            <input type="number" class="form-control" id="minLength" name="minLength" value="{{ min_len }}" required>
        </div>

        <div class="col-md-6 mb-3">
            <label for="maxLength" class="form-label">Max Length</label>
            <input type="number" class="form-control" id="maxLength" name="maxLength" value="{{ max_len }}" required>
        </div>
    </div>

    <input class="btn btn-primary mt-3" type="submit" value="Generate">
</form>
<center>
    {% if alert %}
    <h1>{{alert}}</h1>
    {% endif %}

    {% if caption %}
    <img src="{{ url_for('static', filename=image_path) }}" width="25%">
    <div class="typewriter">
        <h1>{{caption}}</h1>
    </div>

    {% endif %}
</center>

{% endblock %}